@charset "utf-8";
/* CSS Document */
body{width:100%; background:#c9c9ca;}
.content{width:1200px; margin:0 auto; height:2230px;}
.content h2{height:64px; line-height:32px; padding-top:100px; font-size:20px; font-family:"微软雅黑"; color:#595757; }
.matter{background:#FFF; height:1650px; margin-top:30px; position:relative;}
.matter span img{position:absolute; top:-30px; left:-20px;}
.matter p,.matter img,.matter h3{margin-left:20px; margin-right:32px;}
.matter img{padding-top:20px;}
.matter p{font-size:12px; font-family:"微软雅黑"; margin-top:10px; color:#333333; line-height:20px;}
.matter .pro-p{padding-top:30px;}
.matter .pro-h3{padding-top:40px;}
.matter h3{font-weight:bold;font-size:12px; font-family:"微软雅黑"; line-height:20px; padding-top:20px;}
