@charset "utf-8";
/* CSS Document */
body{width:100%; background:#c9c9ca;}
.content{width:1200px; margin:0 auto; height:980px;}
.content h2{height:64px; line-height:32px; font-size:20px; padding-top:100px; font-family:"微软雅黑"; color:#595757; }
.matter{background:#FFF; height:543px; margin-top:30px; position:relative;}
.matter span{position:absolute; top:-10px; left:-20px;}
.matter p,.matter img{margin-left:20px; margin-right:32px;}
.matter p{font-size:12px; font-family:"宋体"; width:562px; padding-bottom:20px; padding-top:35px; color:#333333;line-height:20px;}
.matter p,.matter iframe{float:left;}
iframe{width:565px; height:400px; margin-top:35px;}
