@charset "utf-8";
/* CSS Document */
body{background:#c9c9ca;}
.container{width:100%; background:#c9c9ca; margin-top:60px; padding-bottom:30px;}
.container .bg{width:1200px; margin:0 auto; position:relative; border-bottom:6px solid #a0ca40;}
.bg .title{width:1184px; height:50px; line-height:50px; font-size:18px; color:#a0ca37; padding-left:16px; background:rgba(89,61,26,0.7); position:absolute; left:0px; top:250px;}
.container .resume{width:1200px; margin:0 auto; margin-bottom:50px; padding-bottom:20px; }
.resume>p{padding-top:30px; padding-bottom:30px; line-height:30px; font-size:20px; font-family:"微软雅黑"; color:#595757; background: url(../images/picture_03.jpg) no-repeat left bottom;}
.resume .main{background:#fff; padding-top:33px; padding-bottom:50px;}
.main p{padding-left:20px; line-height:20px; font-size:18px; height:20px; color:#00443b; font-family:"微软雅黑"; margin-bottom:66px;}
.main .function{padding-left:45px;}
.main ul{float:left; width:255px; margin-right:30px;}
.main ul li h2{height:14px; line-height:14px; font-size:14px; color:#333333; font-family:"微软雅黑"; margin-bottom:12px;}
.main ul li p{line-height:20px; font-size:14px; color:#717071; font-family:"微软雅黑"; padding-left:0px; }
.container .end{margin:0 auto; width:1200px; border-top:1px solid #585858; border-bottom:1px solid #585858; position:relative;}
.end h2{height:50px; font-size:16px; color:#71707e; font-family:"微软雅黑"}
.end ul li{float:left; width:278px; margin-right:20px;}
.end ul li p{line-height:30px; color:#717071; font-size:16px; font-family:"微软雅黑"}
.end h3{position:absolute; left:1170px; top:-20px; width:50px; height:20px; line-height:20px; font-size:12px;}
.end h3 a{color:#333333;}
