@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{ height:0; display:block; content:'.'; visibility:hidden; clear:both;}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,form,label,select{display:block;}
ul{list-style:none;}
.clear{ clear:both; font-size:0px; padding:0; line-height:0;}
img{border:0;}
.ellipsis{white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden; }
a{text-decoration:none; outline:none;}
body{font-family:"宋体"; font-size:14px;}

