@charset "utf-8";
/* CSS Document */
body{ background:#c9c9ca;}
.conter{ width:1200px; margin:0px auto;}
.pic{ position:relative; border-bottom:#a0ca40 4px solid; margin-bottom:50px;}
.pic p{
	position:absolute;
	width: 1200px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-family: "微软雅黑";
	top:250px;
	left:0px;
	background:rgba(16,22,1,0.6);
	color:#a0ca40;
	text-indent:15px;
}
.found{ background:#fff; position:relative; padding:21px 0px 35px 0px;}
.found .left{ padding-left:20px; float:left; width:762px; }
.found .left p{ line-height:22px; font-size:12px; font-family:"微软雅黑"; margin-bottom:22px;}
.found .left .end{ text-align:right;}
.found .left .pic_2{ position:absolute; top:-10px; left:0px;}
.found .right{ padding-left:130px; padding-right:20px; width:268px; float:left;}


.go_top{ line-height:18px; padding-top:32px; font-size:12px; height:18px; text-align:right; border-bottom:1px solid #585858;}
.go_top a{ color:#000;}
h4{ height:50px; line-height:50px; font-size:16px; font-family:"微软雅黑"; color:#717071;}
body>ul{  margin-bottom:47px; border-bottom:1px solid #585858;}
body>ul li{ width:278px; float:left; margin-right:30px;}
body>ul li a{ color:#717071; height:30px; line-height:30px; font-size:16px; font-family:"微软雅黑";}

