@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, label, fieldset, legend, p, header, footer, nav, section, aside, article {
	display: block;
}
.clearfix:after {
	height: 0;
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.ellisis {
	white-space: nowrap;/*空白不换行*/
	text-overflow: ellipsis;/*显示省略号*/
	overflow: hidden;/*溢出：隐藏*/
}

