@charset "utf-8";
/* CSS Document */
.common{width:1200px; margin:0 auto; border-bottom:1px solid #585858; border-top:1px solid #585858; height:300px; margin-top:30px;}
.common h5{color:#71707e; height:51px; line-height:51px; font-size:16px; font-family:"微软雅黑";}
.common a{font-size:12px; line-height:20px; color:#71707e; font-family:"微软雅黑";}
.common a:hover{color:#F00;}