@charset "utf-8";
/* CSS Document */
body{width:100%; background:#c9c9ca;}
.content{width:1200px;  margin:0 auto; height:3450px;}
.content h1{height:64px; line-height:32px; font-size:20px; padding-top:100px; font-family:"微软雅黑"; color:#595757; }
.matter{background:#FFF; height:2890px; margin-top:30px; position:relative;}
.matter span{position:absolute; top:-30px; left:-20px;}
.matter img{padding-top:20px;}
.matter p,.matter img,.matter h3,.matter h2{margin-left:20px; margin-right:32px;}
.matter p{font-size:12px; font-family:"微软雅黑"; color:#333333; line-height:20px;}
.matter h3{font-size:12px; font-family:"微软雅黑"; color:#006400; height:20px; line-height:20px; margin-top:20px; margin-bottom:20px;}
.matter h2{font-size:12px; font-family:"微软雅黑"; color:#333; height:20px; line-height:20px;}